


body{
    background-image: url(pexels-apasaric-1323712.jpg);
    color:black;
}

h1{
    color:black;
    text-align: center;
}

p{
    font-size: 19px;
    font-family:'Times New Roman', Times, serif;
}

table{
    border:7px solid;
    margin:auto;
}
th,td{
    border: 7px solid;
    padding: 10px;
}

th{
    text-align: center;
    vertical-align: middle;

}